
.wrapper{
    border: 1px solid red;
    height: 500px;
    width: 700px;
    margin: 0px auto;
    padding: 0px;
}
header{
    width: 700px;
    height: 100px;
    border: 1px solid black;
}
header h1{
    color: red;
    text-shadow: 10px 10px 10px red;
    text-align: center;
}
nav{
    width: 700px;
    height: 40px;
    border: 1px solid black;
}
.menu li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.menu li>a{
    text-decoration: none;
}
section{
    width: 700px;
    height: 357px;
    border: 1px solid black;
}
section h1{
    width: 700px;
    height: 50px;
    color: red;
    margin: auto;
    background-color: bisque;
}